{% extends "base.html" %}
{% block content %}

<h1>Audio Feature Extraction</h1>

    <div class="content">
        <div class="content-info">
            <form method="POST" id="filter-data-form" class="filters"> 
                
                {{g.form.csrf_token }}
                
                <div class="first-row">
                    
                    <div class="dropdown-unit">
                        actor<br>
                        <span>{{ g.form.actor(class="dropdown-element") }}</span>
                    </div>

                    <div class="dropdown-unit">
                        sex<br>
                        <span>{{ g.form.sex(class="dropdown-element") }}</span>
                    </div>    

                    <div class="dropdown-unit">
                        phrase<br>
                        <span>{{ g.form.statement(class="dropdown-element")  }}</span>
                        
                    </div> 

                    <div class="dropdown-unit">
                        intensity<br>
                        <span>{{ g.form.intensity(class="dropdown-element") }}</span>
                    </div> 
                    
                </div>
                
                <div class="second-row">
                    <p >
                        emotion<br>
                        <span>  {{ g.form.emotion }}</span>
                    </p>
                    <p >
                        mels<br>
                        {% for subfield in g.form.num_mels %}
                                    
                            {{subfield}}
                            {{subfield.label}}<br>
                                    
                        {% endfor %}
                    </p>

                    <p >
                        mfccs<br>
                        {% for subfield in g.form.num_mfcc %}
                                    
                            {{subfield}}
                            {{subfield.label}}<br>
                                    
                        {% endfor %}
                    </p>
                    
                </div>    
                    
                <div >{{ g.form.submit(class="submit-button") }}</div>
            
            </form>
                
            
            
            <div class="record-nav">

                <form method="POST" id="next-button" >                     
                 
                    <span>{{ next_button.next }}</span> 
                    <span>{{ record_count_text}}  </span>
                        
                </form>

                <audio id="audio-player" controls src= "{{ url_for('static',filename=audio_file) }}"></audio> 
                
            </div>
            
            <div class="record-text">
                Current Audio Record ID: {{record_id}}<br>
                {{record_text}}
            </div>

            <div class="text-box">
                <h5>Instructions</h5>

                <h6>Step 1</h6>
                <p>Use the dropdowns, multiselect, and radio buttons above the submit button to select samples with those characteristics.</p>
                <ul>
                    <li>Use ctrl/shift to select multiple emotions.</li>
                    <li>The mel and mfcc selectors respectively control the number of mel filters and the number of mel frequency cepstral coefficients (mfccs) used in feature extraction.</li>
                </ul>
                    
                     
                <p> Note: odd numbered actors are male and even numbered actors are female. Selecting actor 2 and setting sex to male will result in a flashed error message. You can simply make another selection if this happens.
                </p> 
                    <p>  A similar issue arises when specifying the intensity as 2 and the emotion as only neutral. As mentioned in the Data Inspection section, the samples labeled neutral are only recorded with intensity of 1.
           </p>
                <h6>Step 2</h6>
                <p>After making the selection, click the "Submit" button.</p>
                <ul>
                    <li>This returns a list of records matching the selection.</li>
                    <li>For example: Male actors vocalizing phrase 1 with the emotion happy returns 48 records.</li>
                    <li>The features, along with the audio are loaded for you to view/listen.</li>
                    <li>The text under the audio player displays all the characteristics of the loaded sample.</li>
                </ul>
                
                <h6>Step 3</h6>
                <p>Use the "Next" button to view and listen to the next record in the group.</p>
                
                <h6>Step 4</h6>
                <p><a href="{{ url_for('main.about_estimators') }}">Continue to about the estimators.</a></p>
                
            </div>
        
        </div>
        
        <div class="content-viz">
       
            <img id="plot" src="{{ url_for('static',filename=img_file) }}" alt="Matplotlib Plot" class="responsive-feature-viz">
           
        </div>  

    </div>

{% endblock %}